.navbar{
  height: 50px;
  padding: 0px;
  background: #fff!important;
  border-bottom: 1px solid #e3e3e3;
}
.navbar .navbar-brand{
  width: 200px;
  height: 49px;
  background: #d61518;
  text-align: center;
}
.navbar-nav .nav-link{
  color: #666;
  font-size: 12px;
}
.navbar-nav .active>.nav-link,
.navbar-nav .nav-link.active,
.navbar-nav .nav-link.show,
.navbar-nav .show>.nav-link{
  color: #d61518!important;
}
.navbar-nav .nav-item.line{
  font-size: 12px;
}
.navbar-nav .nav-item.line .nav-link{
  padding-left: 0px;
  padding-right: 0px;
  color: #e5e5e5;
  line-height: 14px;
}
.navbar .navbar-text{
  padding-right: 10px;
}